# -----------------------------------------------------------
# Application
# -----------------------------------------------------------
APP_NAME="Etus Framework"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8500

# -----------------------------------------------------------
# Database
# -----------------------------------------------------------
DB_DRIVER=sqlite
DB_DATABASE=database/db.sqlite

# DB_DRIVER=mysql
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=your_db_name
# DB_USERNAME=root
# DB_PASSWORD=secret

# -----------------------------------------------------------
# Mail
# -----------------------------------------------------------
MAIL_FROM_ADDRESS=no-reply@example.com
MAIL_FROM_NAME="${APP_NAME}"

